<!-- MembersMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springchap4signup.mapper.MembersMapper">
	<!-- 회원등록 -->
	<insert id="insertMember" parameterType="springchap4signup.model.Member">
		INSERT INTO Members (memberid, Username, Password, FullName, Email, RegistrationDate) 
		VALUES (members_seq.NEXTVAL, #{username}, #{password}, #{fullName}, #{email}, sysdate)
	</insert>
	
	<insert id="loginMember" parameterType="springchap4signup.model.Member">
		INSERT INTO Member (Username, Password) VALUES (#{username}, #{password})
	</insert>
	
	<select id="getAllMember" parameterType="springchap4signup.model.Member">
		SELECT * FROM Members
	</select>
	
	<select id="getMemberById" parameterType="Long" resultType="springchap4signup.model.Member">
		SELECT * FROM Members WHERE MemberID = #{memberId}	
	</select>
	
	<update id="updateMember" parameterType="springchap4signup.model.Member">
		UPDATE Members
		SET 
		Username = #{username},
		Password = #{password},
		FullName = #{fullName},
		Email = #{email}
		WHERE
		MemberID = #{memberId}
	</update>
</mapper>


