<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	<title>웹사이트 회원가입 naverAPI</title>
	</head>
	<body class="bg-light">
		<div class="container mt-5">
			<div class="card">
				<div class="card-title">
					<h3>HomePage</h3>
					<div class="card-body">
						<a href="/members/register"><button class="btn btn-primary">회원가입</button></a>
						<a th:href="@{/oauth2/authorization/naver}"><button class="btn btn-primary">네이버로 회원가입</button></a>
						<a href="/members/login"><button class="btn btn-primary">로그인</button></a>
						<a href="/members/membersInfo"><button class="btn btn-primary">회원리스트</button></a>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>